<section class="order about">
  <div class="container about__container">
    <div>
      <div class="double-title order__double-title">
        <span class="double-title__span">Лучшая </span>итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias amet aperiam, consequuntur
        cupiditate delectus dignissimos enim, eum eveniet, fugiat ipsam magnam nobis odio quas reiciendis repellat.
        Dignissimos eligendi hic libero quidem quod? Accusantium aut in ipsam optio quia quos repellendus sequi soluta
        voluptas voluptatem! Alias fugit maiores porro quaerat, quo recusandae sit. Consequuntur debitis dignissimos
        esse modi, mollitia ratione rem sint ullam. A accusantium aspernatur at delectus ex fuga iusto laudantium
        officiis omnis perspiciatis porro quae rerum, sint vitae voluptas! Autem eveniet fugit hic id labore laboriosam
        nam natus necessitatibus quidem repellat tempora vero, voluptate! Error magni, ullam!
      </div>
    </div>
    <div class="about__image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza" class="about__image-img">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza" class="about__image-img">
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
